Project Requirements: https://docs.google.com/document/d/1cTjnD_E07SSicd29bIpiBxFhH3Oek-mUToNbVr49PwY/edit
Scenarios and Use Cases: https://docs.google.com/document/d/1Rs_S2UvqD8iIWewG-Qz_qdFJUIlJRiw4/edit